In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/week 5/bird_dino_data.csv") #the csv file that gives us the data for the measurements

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
df.head() #shows csv file

   Species ID Bird vs Dino  ...  Brain Stem (cm3)  Brain Volume (cm3)
0           1            B  ...              0.06                1.96
1           2            B  ...              0.68               22.04
2           3            B  ...              1.15               15.10
3           4            D  ...              0.12                0.83
4           5            B  ...              0.08                2.19

[5 rows x 9 columns]

In [8]:
df["Body Mass (cm3)"] = df["Body Mass (kg)"] *1000 #converted kg to grams bc that is the measuremnt for everything else and we made things  more effiecnt by addig a new column 
#create funtion(1) that easily gives you the ratios for birds and dinos 
#find average brain volume/body mass, average cerebrum/ brain volume
def ratios(animal, m): #m stands for measurement, so it can eitheir be the cerebrum or body mass 
  df_new = df.loc[df["Bird vs Dino"] == animal].copy() #loacting bird V. Dino column and seeing if the animal put i  the funcion is equal to it #.copy() makes it a showllow copy, so the .loc method does not make chnages to the original dataframe, we also made a new datat frame, so thinsg could be more oragnized 
  if m == "Cerebrum (cm3)":
      df_new["ratio_cerebrum"] = df_new["Cerebrum (cm3)"]/df_new["Brain Volume (cm3)"] #adds all of the values to a new coloumn
      new_column = df_new["ratio_cerebrum"] # we set the column equalto a varible, so that we can return this varibale
  if m == "Body Mass (cm3)":
      df_new["ratio_bm"] = df_new["Brain Volume (cm3)"]/df_new["Body Mass (cm3)"] #ratio_bm refers to the ratio for brain volume to body mass (cm3
 #ratio_bm is the brain volume to body mas (cm3) ratio
      new_column =  df_new["ratio_bm"]
  return new_column.mean()

In [9]:
print(ratios("B","Cerebrum (cm3)")) 
Ratio_B_c = ratios("B","Cerebrum (cm3)") #putting this info in a varible allows us to easily use it in the next function 
#Ratio_B_c refers to the average Cerebrum to brain volume ratio for birds
print(ratios("D","Cerebrum (cm3)")) 
Ratio_D_c = ratios("D","Cerebrum (cm3)")
#Ratio_D_c refers to the average Cerebrum to brain volume ratio for dinos

0.6649507745281171
0.4695339305450895

In [10]:
print(ratios("B","Body Mass (cm3)")) 
Ratio_B_bm = ratios("B","Body Mass (cm3)") #putting this info in a varible allows us to easily use it in the next function 
#Ratio_B_bm refers to the averagebrain volume to body mass ratio
print(ratios("D","Body Mass (cm3)")) 
Ratio_D_bm = ratios("D","Body Mass (cm3)")
#Ratio_D_bm refers to the average brain volume to body mass ratio

0.047832283820074345
0.0016106496539985663

In [11]:
  def dif(c, fl, bv):#c= cerebrum (cm3) lengthm,  fl= femur length, bv= brain volume (cm3)
    bm = 10**(3.1854*np.log10(fl))-3.184 # equation to convert fl to bm (cm3) in grams 
    brain_c = c/bv # the cerebrum to brain volume ratio for whatever is put into the fucntion 
    Brain_bmr = bv/bm #this is the ratio of brain volume to body mass
    if (brain_c - Ratio_B_c) > (brain_c - Ratio_D_c) :  
      closest_1 = "This animal brain is most likely from a non-avian dinosaur"
      ans = closest_1
      #(Brain_bmr - Ratio_B_bm)< (Brain_bmr - Ratio_D_bm): you do not need these because these conditions ar focused on cerebrum to brain volume
    elif (brain_c - Ratio_B_c) < (brain_c - Ratio_D_c): 
     closest_2 = "This animal brain is most likely from a bird"
     #((Brain_bmr - Ratio_B_bm)> (bBrain_bmr - Ratio_D_bm): 
     ans = closest_2 
    return ans

In [12]:
print(dif(1.57, 21, 2.2))

This animal brain is most likely from a bird